
.container_login{
    
    margin: auto;
    margin-top: auto;
    height: 100vh;
    background-color: white;
    display: flex;
}
login_fields{

}
.login_backgroud{
    
       
       background-image: url("separador.png");
       background-color: #28a745;
       background-position: right;
       background-repeat: no-repeat;
       background-size: contain;
       padding: 0rem;
}
.login-form{
    padding: 0rem;
}


.content-separador{
    padding: 0rem;
    width: 80px;
}

.logo-login{
    color: white;
font-weight: bold;
margin-left: 60px;
margin-top: 20px;
font-size: 11px;
}

.titulo-slogan{
 color: white;
}
.subtitulo-slogan{
    color: white;
    font-size: 20px;
}

.slogan-login{
    text-align: center;

}
     
.img-login{
    background-image: url("maceta.png");
    height: 200px; 
    
    width: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 100px;
margin-top: 100px;
}
.p-field{
    width: 100%;
    margin-bottom: 0rem;
}

.button-login{

    
left: 3%;


}
.p-grid{
    height: 100% !important;
}
.group-btn-auth{
    width: 100%;
    display: flex;
}
.button-login, .button-register{
    max-width: 45%;
    background-color: #28a745;
    border: #28a745 solid 1px;
   

}
.button-register{
    margin-left: 7%;
}