.datatable-crud-demo .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.datatable-crud-demo .product-image {
    width: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.datatable-crud-demo .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

.datatable-crud-demo .confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-field input,.p-field .p-component{
    width: 100%;
}
.p-field {
    margin-bottom: 1rem;
    display: inline-block;
    padding: 10px;
}
.pull-right{
    float: right;
}
.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}
.w-80{
    width: 80%;
}
.w-100{
    width: 100%;
}
.mb-40{
    margin-bottom: 40px;
}

.count{
    background:#0d89ec ;
    padding: 4px 8px;
    border-radius: 3px;
    color:white
}
.bg-blue{
    background:linear-gradient(to right, #0388E5 0%, #07BDF4 100%) ;
    color:white
}